<!DOCTYPE>
<html>
<head>
  <title>Cog.io</title>
  <script
          src="https://code.jquery.com/jquery-3.1.1.js"
          integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
          crossorigin="anonymous"></script>
  <script type="text/javascript" src="./../javascripts/index.js"></script>
  <link href="./../stylesheets/style.css" rel="stylesheet">
  <style>

  </style>
</head>
<body>
    <textarea id="txtInput"></textarea>
    <button id="btnTranslate">번역</button>
    <textarea id="txtOutput" readonly></textarea>
    <button id="btnSentiment">감정분석</button>
    <textarea id="sentimentJsonOutput" readonly></textarea>
</body>
</html>